#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	user: root
	dbhost: 127.0.0.1

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: App\*Module\Presenters\*Presenter

	session:
		expiration: 14 days

	container:
		debugger: yes

services:
	-
		factory: App\Presenters\HomepagePresenter('/dir/web')
		inject: yes

	-
		factory: PdoFactory::create('mysql:host=%dbhost%', %user%)
		setup:
			- setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION)

		#class: PDO

	#pdofac2: PdoFactory2('mysql:host=%dbhost%')

	#- @pdofac2::create(%user%)::query()

	#- PdoFactory2('mysql:host=%dbhost%')::create(%user%)

	- App\Model\Article(123)

	#two: App\Model\Article(999)

	#two: {factory: App\Model\Article(999)}

	two:
		factory: App\Model\Article(999)
		autowired: no

	- App\Model\UserManager(..., ..., @two)
	- App\Forms\SignFormFactory
	router: App\RouterFactory()::createRouter
